@model CreateDestinationCommand
@{
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Rota Ekleme Sayfası</div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="container">
                    <div class="form-group">
                        <form method="post" enctype="multipart/form-data">
                            <label>Şehir</label>
                            <input type="text" asp-for="City" class="form-control" />
                            <br />
                            <label>Resim</label>
                            <input type="file" asp-for="File" class="form-control" />
                            <br />
                            <label>Fiyat</label>
                            <input type="text" asp-for="Price" class="form-control" />
                            <br />
                            <label>Tur Süresi</label>
                            <input type="text" asp-for="Duration" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <input type="submit" class="btn btn-outline-primary" value="Ekle" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
