@model CreateDestinationCommand
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateDestination</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form method="post">
            <label>Şehir</label>
            <input type="text" asp-for="City" class="form-control" />
            <br />
            <label>Resim</label>
            <input type="text" asp-for="ImageURL" class="form-control" />
            <br />
            <label>Fiyat</label>
            <input type="text" asp-for="Price" class="form-control" />
            <br />
            <label>Tur Süresi</label>
            <input type="text" asp-for="Duration" class="form-control" />
            <br />
            <input type="submit" class="btn btn-outline-primary" value="Güncelle" />

        </form>
    </div>
</body>
</html>
