@model List<GetDestinationForHomeQueryResult>
<section class="pt-5" id="destination">

    <div class="container">
        <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="~/Templates/jadoo/public/assets/img/dest/shape.svg" alt="destination" /></div>
        <div class="mb-7 text-center">
            <h5 class="text-secondary">Rotalar </h5>
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Son Eklenen 3 Rota</h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card overflow-hidden shadow">
                        <img class="card-img-top" src="@item.ImageURL" alt="Rome, Italty" />
                        <div class="card-body py-4 px-3">
                            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                                <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="/Default/GetDestinationDetail/@item.DestinationId">@item.City</a></h4><span class="fs-1 fw-medium">@item.Price.ToString("C2")</span>
                            </div>
                            <div class="d-flex align-items-center"> <img src="~/Templates/jadoo/public/assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">@item.Duration</span></div>
                        </div>
                    </div>
                </div>
            }
    
      
        </div>
    </div>

</section>