@model List<GetServiceQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title"> Hizmetler Alanı</div>
        </div>
        <div class="card-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Görsel</th>
                        <th colspan="2" class="text-center">İşlemler</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th>@count</th>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td><img src="@item.Icon"   /></td>
                            <td><a href="/Admin/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Admin/Service/UpdateService/@item.ServiceID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <a href="/Admin/Service/CreateService" class="btn btn-outline-primary">Hizmet Ekle</a>
        </div>
    </div>
</div>
