@model UpdateServiceCommand
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Hizmet Güncelleme Sayfası</div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="container">
                    <div class="form-group">
                        <form method="post">
                            <input type="hidden" asp-for="ServiceID" class="form-control" />
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <label>İkon</label>
                            <input type="text" asp-for="Icon" class="form-control" />
                            <br />
                            <input type="submit" class="btn btn-outline-primary" value="Güncelle" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


