@model CreateBrandCommand

@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Yeni Marka Ekleme Sayfası</div>
        </div>

        <div class="card-body">
            <div class="row">
  
                    <div class="container">
                        <div class="form-group">
                            <form method="post" enctype="multipart/form-data">

                                <label>Görsel</label>
                                <input type="file" asp-for="File" class="form-control" />

                                <br />
                                <input type="submit" class="btn btn-outline-primary" value="Ekle" />

                            </form>
                        </div>

         

                </div>
            </div>
        </div>
    </div>
</div>



