<nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="~/Templates/jadoo/public/assets/img/logo.svg" height="34" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="/Default/Index">Ana Sayfa</a></li>
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="/Default/Destinations">Rotalar</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
