@model List<GetServiceQueryResult>
<section class="pt-5 pt-md-9" id="service">

    <div class="container">
        <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="~/Templates/jadoo/public/assets/img/category/shape.svg" style="max-width: 200px" alt="service" /></div>
        <div class="mb-7 text-center">
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Hizmetlerimiz</h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 mb-6">
                    <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                        <div class="card-body p-xxl-5 p-4">
                            <img src="@item.Icon" width="75" alt="Service" />
                            <h4 class="mb-3">@item.Title</h4>
                            <p class="mb-0 fw-medium">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
           
          
        </div>
    </div>

</section>