@model List<GetTestimonailQueryResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title"> Referanslar Alanı</div>
        </div>
        <div class="card-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Görsel</th>
                        <th>Ad Soyad</th>
                        <th>Yorum</th>
                        <th colspan="2" class="text-center">İşlemler</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th>@count</th>
                            <td>@item.ImageURL</td>
                            <td>@item.NameSurname</td>
                            <td>@item.Comment</td>
                            <td><a href="/Admin/Testimonail/DeleteTestimonail/@item.TestimonailID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Admin/Testimonail/UpdateTestimonail/@item.TestimonailID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <a href="/Admin/Testimonail/CreateTestimonail" class="btn btn-outline-primary"> Referans Ekle</a>
        </div>
    </div>
</div>


