
@model List<GetFeatureQueryResult>
@foreach (var item in Model)
{
    <section style="padding-top: 7rem;">
    <div class="bg-holder" style="background-image:url(/Templates/jadoo/public/assets/img/hero/hero-bg.svg);">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 hero-img" src="@item.ImageURL" alt="hero-header" /></div>
            <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
                <h4 class="fw-bold text-danger mb-3">@item.TopDescription</h4>
                <h1 class="hero-title">@item.MidDescription</h1>
              <br />
                <p class="mb-4 fw-medium">@item.BottomDescription</p>
            </div>
        </div>
    </div>
</section>
}
