@using JadooProject.Features.Mediator.Commands.NewsLetterCommands
@model CreateNewsLetterCommand
<section class="pt-6">

    <div class="container">
        <div class="py-8 px-5 position-relative text-center" style="background-color: rgba(223, 215, 249, 0.199);border-radius: 129px 20px 20px 20px;">
            <div class="position-absolute start-100 top-0 translate-middle ms-md-n3 ms-n4 mt-3"> <img src="~/Templates/jadoo/public/assets/img/cta/send.png" style="max-width:70px;" alt="send icon" /></div>
            <div class="position-absolute end-0 top-0 z-index--1"> <img src="~/Templates/jadoo/public/assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div>
            <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="~/Templates/jadoo/public/assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <h2 class="text-secondary lh-1-7 mb-7">Indirim &  firsatlardan hemen haberdar olmak için bültenimze abone olun <br /> <small>Spam mail göndermiyoruz.</small></h2>

                    <form class="row g-3 align-items-center w-lg-75 mx-auto" method="post" asp-action="SubscribeEmail" asp-controller="Default">
                        <div class="col-sm">
                            <div class="input-group-icon">
                                <input class="form-control form-little-squirrel-control" type="email" placeholder="Mail Adresiniz " aria-label="email" asp-for="Email"/><img class="input-box-icon" src="~/Templates/jadoo/public/assets/img/cta/mail.svg" width="17" alt="mail" />
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <button class="btn btn-danger orange-gradient-btn fs--1">Abone Ol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>