<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0">
            <img class="mb-4" src="~/Templates/jadoo/public/assets/img/logo2.svg" width="150" alt="jadoo" />
            <p class="fs--1 text-secondary mb-0 fw-medium">Tur planlayın, eğlenin gezin!</p>
        </div>
        <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
            <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Linkler</h4>
        
            <ul class="list-unstyled mb-0"> 
                <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="/Default/Index">Ana Sayfa</a></li>
                <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="/Default/Destinations">Rotalar</a></li>
       
            </ul>
        </div>

    </div>
</div><!-- end of .container-->
